<div class="main-header">
    <a href="javascript:;" class="logo">
        <span class="logo-mini">项目</span>
        <span class="logo-lg">项目管理</span>
    </a>
    <div class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <i class="layui-icon layui-icon-shrink-right"></i>
            <i class="layui-icon layui-icon-spread-left"></i>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <% if(avatar){ %>
                            <img src="<%= avatar %>" class="user-image" alt="User Image">
                        <% }else{ %>
                            <img src="/images/avatar.png" class="user-image" alt="User Image">
                        <% } %>
                        <span class="hidden-xs"><%= username %></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li class="changePassword">
                            <a href="#">更改密码</a>
                        </li>
                        <li class="personalInformation">
                            <a href="#">个人资料</a>
                        </li>-->
                        <li class="loginOut">
                            <a href="/admin/logout">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
