<div class="control-sidebar control-sidebar-dark">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">Tasks Progress</li>
            <li>Recent Activity</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                Tasks Progress
            </div>
            <div class="layui-tab-item">
                Recent Activity
            </div>
        </div>
    </div>
</div>
<div class="control-sidebar-bg"></div>