<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('components/css.ejs') %>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="tableBox">
    <button type="button" class="layui-btn layui-btn-normal" id="addAdministratorBtn">添加</button>

    <table id="administratorList" lay-filter="administratorList"></table>
</div>


<script type="text/html" id="barDemo">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm changeBtn" lay-event="edit">
            <i class="layui-icon">&#xe642;</i>
        </button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm deleteBtn" lay-event="del">
            <i class="layui-icon">&#xe640;</i>
        </button>
    </div>
</script>

<%- include('components/js.ejs') %>
<script src="/js/administrator-list.js"></script>
</body>
</html>
